<!--<h1 id="tableLabel">Weather forecast</h1>


<p *ngIf="!forecasts"><em>Loading...</em></p>-->
<!--<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.date }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.summary }}</td>
    </tr>
  </tbody>

</table>-->
<!--<form (submit)="getString()">
  <mat-form-field appearance="fill">
    <mat-label>First name</mat-label>
    <input matInput #first>
    <mat-hint *ngIf="firstNameAutofilled">Autofilled!</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Last name</mat-label>
    <input matInput #last>
    <mat-hint *ngIf="lastNameAutofilled">Autofilled!</mat-hint>
  </mat-form-field>
  <button mat-raised-button>Submit</button>
</form>-->
<p *ngIf="stringResult">
  
</p>
<div class="alert alert-success" role="alert"  *ngIf="stringResult">
  <h4 class="alert-heading">Прогноз такой!</h4>
  <p>{{stringResult}}</p>
  <hr>
  <p class="mb-0">Но это не точно</p>
</div>
<!--<button class="btn btn-primary" (click)="getString()">Test</button>
<h3>Cart</h3>-->


<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">
      Имя
    </label>
    <input class="form-control" id="name" type="text" formControlName="name">
  </div>
  <div class="form-group">
    <label for="age">
      Возраст
    </label>
    <input  class="form-control" id="age" type="text" formControlName="age">
  </div>

  <div class="form-group">
    <label for="weight">
      Вес
    </label>
    <input class="form-control" id="weight" type="text" formControlName="weight" placeholder="В килограммах">
  </div>

  <div class="form-group">
    <label for="alcoGradus">
      Градус пития
    </label>
    <input class="form-control" id="alcoGradus" type="text" formControlName="alcoGradus">
  </div>

  <div class="form-group">
    <label for="alcoVolume">
      Объем пития
    </label>
    <input class="form-control" id="alcoVolume" type="text" formControlName="alcoVolume"  placeholder="В миллилитрах">
  </div>

  <button  class="btn btn-primary" type="submit">Purchase</button>

</form>
